.fizz-buzz {
    padding: 1rem;
    margin: 1rem 0;
}
.input {
    width: 6rem; 
}
.input, .button {  
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    text-align: center;
}

.pagination {
    margin: 1rem;
}
.error {
    margin: 1rem;
    color: red;
}
.button {
    width: 8rem;
    margin-left: 1rem;
    background-color: darkgrey;
}
.button:disabled {
    background-color: none;
}

ul {
    list-style: none;
}

.fizz-buzz-list {
	width: 10rem;
}

.fizz {
    color: blue;
}
.buzz {
    color: green;
}
